<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metingen</title> <!--titel in zoekbalk-->
</head>
<body>
    <h1>Metingen</h1> <!-- Header op website -->
    <ul>
        <p> Ga naar plek:</p>
        <li>{{ x }}, {{ y }}</li> <!-- laat de x en y (van python) zien op de website -->
 
	</ul>
    <form action="/test2" method="POST">
        <button type="submit">Start meting</button> <!--roept /test2 op in pyhton -->
    </form> 
</body>
</html>
