<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heatmap</title> <!-- titel in zoekbalk-->
</head>
<body>
    <h1>Heatmap</h1> <!--Header op website -->
    <img src="{{ heatmap_image }}" alt="Heatmap"> <!-- laat de heatmap zien-->
	</form>
	<form action="/opslaan_heatmapp" method="get"> 
	<button type="submit">Sla heatmap op</button> <!-- roept opslaan_heatmapp op als er op de knop wordt gedrukt -->
    </form>
</body>
</html>
